<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>List Of Owners</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="com.springframework.petclinic.model.Owner"*/-->
<h1 th:text="'List Of Owners'">List Of Owners...</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 150px;">First Name</th>
        <th style="width: 150px;">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner?.id}">1</td>
        <td th:text="${owner?.firstName}">Joe</td>
        <td th:text="${owner?.lastName}">Buck</td>
    </tr>
    </tbody>
</table>
</body>
</html>